* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex; flex-direction: column;
    background-color: #744D4D;
}

main{
    width: 100%;
}

header{
    display: flex;
    width: 100%;
}

h1{
    display: inline;
    color: #AEAEAA;
   

}

.logo{
    display flex;
    height: 140px;
    align-items: left;
}
.principal{
    display: flex;
    background-color: #41201B;
}

.borda{
    width: 100%;
}

.fotos{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin:auto;
    width: 100%;
    background-color: #41201B;
}
