* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex; 
    flex-direction: column;
    background-color: #744D4D;
}

main h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Public Sans";
    color: #2C100C;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 32px;
}

#fotos{
    display: inline;
    background-color: #260E0B;
}

.bombons-ilustrativos{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 30px;
}

#container-feedbacks{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-bottom: 200px;
}

.titulo-feedbacks{
    display: block;
    align-items: center;
    text-align: center;
    font-family: "Public Sans";
    margin-bottom: 40px;
}

.titulo-feedbacks h2{
    font-size: 40px;
    font-weight: 800;
    color: #41201B;
}

.titulo-feedbacks p{
    margin-top: 10px;
    color: #AEAEAE;
    font-size: 16px;
}

.feedbacks{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: "Public Sans";
    color: black;
}


.comentario{
    margin-top: 45px;
    font-weight: 500;
}

.feedbacks h3{
    font-size: 10px;
    font-weight: 600;
    margin-top: 50px;
}

.data-feedback{
    margin-top: 5px;
}

#comentario-1{
    background-color: #FFD7D7;
    border-radius: 20px; 
    padding: 0 16px;
    padding-top: 55px;
    padding-bottom: 70px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    height: 325px;
    width: 245px;
}

#comentario-2{
    background-color: #FFD7D7;
    border-radius: 20px; 
    padding: 0 16px;
    padding-top: 55px;
    padding-bottom: 80px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    height: 325px;
    width: 245px;
}

#comentario-3{
    background-color: #FFD7D7;
    border-radius: 20px; 
    padding: 0 16px;
    padding-top: 55px;
    padding-bottom: 80px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    height: 325px;
    width: 245px;
}
